
        h1 {
            color: red;
        }

        img {
            width: 400px;
        }

        #thirdDiv {
            height: 600px;
            width: 500px;
            background-color: rgb(150, 150, 150);
            padding: 50px;
            border: 6px dashed blue;
        }

        #spanId {
            font-size: 18px;
            margin: 50px;
        }